body {
    background-image: linear-gradient(to right, blue 0%, white 100%);
}

.container {
    width: 360px;
    height: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
}

.container h1 {
    text-align: center;
    margin: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input {
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 14px;
    outline: none;
}

input:focus {
    border-bottom: 2px solid blue;
    transition: border 0.2s;

}